<%- include('statics/header') -%>

<main>
    <h2>Modifier une entrée de la base de données</h2>

    <%- include('components/form-page', { type: "PUT" }) -%>

</main>

<%- include('statics/footer') -%>